nn-app {
    @include layer;

	--fade-in-dur: 0.3s;
	--fade-out-dur: 0.3s;

    nn-zoom {
		position: absolute;
		left: 0;
		top: 0;
		transform-origin: top left;
		width: var(--zoom-width);
		height: var(--zoom-height);
		transform: scale(var(--zoom-scale));
		@include hollow;
	}
}