nn-app {
    @include layer;

    nn-zoom {
		position: absolute;
		left: 0;
		top: 0;
		transform-origin: top left;
		width: var(--zoom-width);
		height: var(--zoom-height);
		scale: var(--zoom-scale);
		@include hollow;
	}

	nn-home, nn-room, nn-arena {
		@include layer;
		transform-origin: top left;
	}
}